@media (min-width: 1370px)
  .content
    width: 1360px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .main-text.last-text
    max-width 95%
    
  .dad-city__item
    .primary-text
      min-height: 200px

  .secondary-title
    font-size 17px
    padding-bottom: 13px

  .b-brands
    img
      margin-right: 75px
      margin-top: 20px
      margin-bottom:  20px


  .text-box
    padding: 30px 60px 46px 60px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

  .indicator-block
    padding-left: 141px

  .accordion-text_box
    padding-left: 462px

  .bottom-col
    width: 49.5%
    padding-right: 25px

  .hint
    left: 28.5%

@media (max-width: 1370px)
  .content
    width: 980px

  .main-pic
    height: 455px
    background-repeat no-repeat
    background-position right top
    padding: 32px 44px 40px 41px

  .under-title.with-icon
    padding-top: 0

    &:before
      top: 18px
  .under-title--italic
    font-size 19px
  .main-text.last-text
    margin-right: -14px

  .text-box
    padding-top: 45px
    & + &
      padding: 30px 45px 43px

  .accordion-pic
    width: 365px
    height: 200px

  .accordion-body__item
    padding-bottom: 30px

  .dad-city__item
    margin-bottom: 23px
    padding: 19px 15px 14px 14px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%


  .indicator-block
    padding-left: 0

  .table_sort
    padding-right: 10px

  .b-brands
    padding-top: 32px
    max-width 100%

  .accordion-text_box
    padding-left: 415px

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  body .table_sort
    &:after, &:before
      right: 5px

  .under-title.expert-quote
    max-width 100%

  .author__wrap
    padding-top: 15px

  .author-block
    padding-right: 23px

  .text-box.last
    display: block
    .indicator-block
      padding-left: 105px

  body
    .table-cities
      th
        font-size 10px

  .article-table
    padding: 0 10px

  .b-brands
    img
      margin-right: 20px
      margin-top: 10px
      margin-bottom: 10px

  .hint
    left: 25.5%

@media (min-width: 1019px)
  .primary-text
    padding-left: 488px


@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .main-pic
    height: 420px
    padding: 30px 38px 26px 24px
    background-image url("images/main_pic_780.png")
    background-image: -webkit-image-set(url(images/main_pic_780.png) 1x, url(images/main_pic_780@2x.png) 2x)
    background-position center

  .top-menu__link
    margin: 0 10px

  .article-title
    padding-left: 20px

  .article-author
    padding-left: 20px
      
  .icon-author:before
    width: 21px
    height: 24px
    margin-right: 14px

  .text-box
    padding: 33px 17px 30px 25px
    & + &
      padding 32px 20px 43px 20px

  .block-title
    padding-top: 0

  .under-title.with-icon
    padding-bottom: 26px

  .primary-title
    padding-bottom: 23px
    text-align center

  .accordion-pic
    width: 314px
    margin-right: 20px
    margin-bottom: 20px

  .accordion-text_box
    padding-left: 383px

  .accordion-body__item
    padding-bottom: 27px
    &:last-child
      padding-bottom: 20px

  .small_table
    .line
      padding-left: 11px

    .num
      font-size 12px
      padding-right: 11px
      padding-top: 3px
    .name
      font-size 12px
      display inline-block

    .reg
      font-size: 9px
      padding-left: 3px

  .article-table
    padding: 0

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .b-brands
    padding-top: 10px
    margin-top: 5px
    flex-wrap wrap
    justify-content center
    margin-bottom: -15px
    img
      margin: 20px 20px

  .text-box.last
    padding-top: 25px

  .author__wrap
    flex-direction column
    padding-top: 0
    margin-top: -10px

  .author-block
    width: auto
    padding-bottom: 17px
    .pic
      float: left
      padding-right: 5px
    .author-name
      padding-top: 43px

  .text-box.last .indicator-block
    padding-left: 0

  .article-table
    padding: 0

  .table-cities

    td:nth-child(2)
      width: 17.5%
    td:nth-child(3)
      width: 10.5%

    th
      font-size: 9px
      &:nth-child(2)
        padding-left: 0
      &:first-child
        font-size 0
        border-right: 0

  .table-cities td:nth-child(4), .table-cities td:nth-child(5), .table-cities td:nth-child(6), .table-cities td:nth-child(7)
    width: 12%

  .hint
    left: 18%
    top: 20px
  .table-cities th
    padding-left: 3px
    padding-right: 18px
  .article-table
    padding-bottom: 40px

  .table-title
    font-size: 30px

  .accordion-body__item
    &.minneapolis img
      top: -5%


@media (min-width: 759px) and (max-width: 1019px)
  .line.mob-line .reg
    padding-left: 10px
    
  .dad-city__item
    .primary-text
      padding-left: 403px
    

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

    //width: 300px
    //margin: 0 auto
  .under-title
    &.with-icon
      &:before
        top: -16px;

  .top-logo
    display: none
    
  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 29px
    max-width: 98%
    line-height 36px
    padding-bottom: 11px

  .main-pic
    height: 345px
    padding: 14px 16px 15px 12px
    background-position: 27% 10%
    background-image url("images/main_pic_320@2x.png")
  
  .main-pic__mask
    height: 170px

  .text-box
    padding: 29px 13px 31px
    & + &
      padding: 32px 12px 30px 12px

  .under-title.with-icon
    padding-left: 0
    padding-right: 0
    padding-top: 109px
    line-height 28px
    font-size 15px
    padding-bottom: 15px
    &:before
      left: 50%
      margin-left: -46px

  .main-text.last-text
    margin-right: 0

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .article-author, .article-title
    padding-left: 0

  .article-title
    max-width: 83%
    padding-bottom: 22px

  .accordion-body__item
    padding-bottom: 30px

  .accordion-head
    padding: 0

  .accordion-pic
    img
      min-width: 100%
      min-height 100%
      height: auto

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .accordion-head__wrap
    padding-top: 36px
    .primary-title
      font-size: 24px
      padding-bottom: 22px
      line-height: 43px

  .accordion-head__item
    margin-bottom: 0px
    height: 185px
    padding: 5px
    padding-top: 128px
    &:nth-child(2)
      background-color #eff9ff
    &.moutain_west
      padding-top: 110px
      span
        line-height 20px
    &.pacific_west
      padding-left: 17px
      padding-right: 17px
    &.south_central, &.south_atlantic
      padding-top: 110px

  .accordion-title
    margin-bottom: 15px

  .accordion-pic
    width: 100%
    margin-right: 0
    margin-bottom: 30px
    box-sizing: border-box

  .accordion-text_box
    padding-left: 0

  .dad-city__head
    margin-bottom: 5px

  .dad-city__item.last
    display: block
    .local-col, .small_table
      width: 100%
    .small_table
      margin-top: 22px

  .dad-city__item
    padding: 0
    border: none
    margin-bottom: 48px        

  .block-title
    font-size 28px
    line-height: 38px
    padding-bottom: 30px

  .secondary-title
    font-size 16px
    padding-top: 66px
    padding-bottom: 15px
    text-align: center

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .b-main_article
    padding-top: 20px
    padding-bottom: 124px

  .b-related
    margin-top: 17px



  .worst_city__item
    padding: 16px 15px 10px 15px

  .b-worst_city
    padding-bottom: 11px

  .show-table
    text-align center
    font-size: 12px
    color: $main_color
    letter-spacing: 0
    line-height: 22px
    margin: 0 auto
    display: block
    span
      border-bottom: 1px dotted $main_color
      margin-left: 8px
    &:hover
      span
        border-bottom: none

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .bottom-col ul
    padding-bottom: 27px

  .b-main_article
    padding-top: 20px
    padding-bottom: 124px

  .author-article
    max-height 99999px

  .author-block
    padding: 0
    text-align center
    padding-bottom: 15px
    .pic
      float none
      padding-right: 0
    .author-name
      padding-top: 0

  .under-title
    padding-bottom: 19px

  .b-brands
    padding: 0
    flex-wrap wrap
    margin-top: 11px
    img
      margin: 12px 11px

  .article-table
    margin-bottom: 10px

  .small_table .reg
    padding-left: 6px

  .small_table .num
    padding-right: 7px

  .table-cities__wrap
    display: none

  .article-table.show
    margin: 45px 0 15px 0
    padding: 15px
    background-color #fff
    border-radius 15px
    .table-cities
      display: block
      width: 800px
    .mobile-only-close
      display: block
    .mobile-only-show
      display: none
    .table-cities__wrap
      width: 100%
      overflow scroll
      display: block

  .mobile-only-show
    display: block

  .mobile-only-close
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .hint
    display: none

  .table-cities td:nth-child(2)
    padding-left: 1%
    width: 16%
    
  .dad-city__item .primary-text
    min-height 0
  .table-short .table_show__wrap
    display: none



