$main_color = #3F88C5
$text_color = #575250
$title_color = #475359
$table_color-green = #89B835
$ultraThin()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale